<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="databank">
	<insert id="databankinsert">
		insert into databank(title,fileurl,author) values (#{title }, #{fileurl },#{author }) 
	</insert> 
	<select id="databanklist" resultType="com.lmhshop.dto.DatabankDTO">
		select * from databank
	</select>
	
</mapper>

